<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Core Online Tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Main Page</h1>

    <h2><span th:text="${#lists.size(items)}">[count]</span> entries</h2>


    <div class="container" th:if="${not #lists.isEmpty(items)}">
        <table lass="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Inspect</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <th scope="row" th:text="${item.getID()}">[id]</th>
                <td th:text="${item.getName()}">[name]</td>
                <td th:text="${item.getDescription()}">[description]</td>
                <td><a th:href="${'/item/' + item.getID()}">View</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>